body
{
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0px;
}

H1, H2, H3
{
  font-family: "Lucida Console", "Courier New", monospace;
  text-align : center;
  
}

div.present  {
  border: black;
  border-style: solid;
  margin: 10%;
  padding: 4%;
  
}

footer {
  font-size: 10px;
  padding-top: 40px;
  padding-bottom: 5px;
}

a {
  color: black;
}

ul {
  list-style: none
}